<div class="row">
  <div class="col-xs-12">
    <form action="index.html" method="post" class="form-horizontal" role="form">
      <input type="text" class="form-control input-sm" id="username" name="username" placeholder="Usuário" required>
      <input type="text" class="form-control input-sm" id="password" name="password" placeholder="Senha" required>
      <button type="button" class="form-control btn btn-success btn-sm">Iniciar</button>
    </form>
  </div>
</div>
<div class="row small" style="padding: 10px;">
  <div class="col-xs-6 pull-left">
    <a href="#" class="btn btn-link btn-sm">Novo Usuário?</a>
  </div>
  <div class="col-xs-6 pull-right">
    <a href="#" class="btn btn-link btn-sm">Esqueceu a Senha?</a>
  </div>
</div>
